<button {{on "click" (fn this.setDisplay this.display)}}> toggle display </button>
<button {{on "click" this.addObjectByAppend }}> add object by append </button>
<br />
<span>display: {{this.display}}</span>
<br />
<br />
<x3d id="x3d" name="x3d" width="600px" height="400px" showstat="false" primitivequality="1" runtimeEnabled="true">
  <scene id="scene1" render="true" bboxcenter="0,0,0" bboxsize="-1,-1,-1" pickmode="flase" dopickpass="false">
    <navigationinfo id="navInfo" DEF="CatStyle" type="any" transistionType="teleport" transitiontime="1"></navigationinfo>

    <orthoviewpoint id="viewpointDefault" class="ember-view" orientation="0.3 1 0.13 -0.85" position="-10 3 10" fieldofview="-5, -5, 5, 5" centerofrotation="0 0 0" description="camera" set_bind="false" jump="true" retainuseroffsets="false" zfar="10000" znear="0.1"><!----></orthoviewpoint>

      <!-- reference object -->
      <transform scaleorientation="0,0,0,0" scale="1,1,1" center="0 0 0" bboxsize="-1,-1,-1" bboxcenter="0 0 0" rotation="0 0 0 0" translation="0 0 0" id="0" class="testClassNameXXX ember-view" >
        <shape def="" ispickable="0" bboxsize="-1,-1,-1" bboxcenter="0,0,0" id="ember1571" class="ember-view" >
          <appearance sorttype="auto" id="ember1572" class="ember-view" alphaclipthreshold="0.1">
            <material specularcolor="0,0,1" shininess="2" emissivecolor="0,0,1" ambientintensity="1" transparency="0.4" diffusecolor="0 0 1" id="ember1573" class="ember-view">
            </material>
          </appearance>
          <indexedfaceset ccw="true" colorpervertex="false" colorindex=" 0 0 0 0 0 0" coordindex=" 0 3 2 1 0 -1 1 2 6 5 1 -1 4 5 6 7 4 -1 0 4 7 3 0 -1 0 1 5 4 0 -1 2 3 7 6 2 -1" id="ember1576" class="testClassNameXXX ember-view" solid="true" usegeocache="true"
            lit="true" normalpervertex="true" normalupdatemode="fast" convex="true" normalindex="" texcoordindex="">
            <coordinate point="0 2.2 0 0 0 0 4.3 0 0 4.3 2.2 0 0 2.2 1.2 0 0 1.2 4.3 0 1.2 4.3 2.2 1.2"></coordinate>
            <color color="0 0 1"></color>
          </indexedfaceset>
        </shape>
        <shape>
          <indexedlineSet coordIndex='0 3 2 1 0 -1 1 2 6 5 1 -1 4 5 6 7 4 -1 0 4 7 3 0 -1 0 1 5 4 0 -1 2 3 7 6 2 -1'>
          <coordinate point='0 2.2 0 0 0 0 4.3 0 0 4.3 2.2 0 0 2.2 1.2 0 0 1.2 4.3 0 1.2 4.3 2.2 1.2'/>
        </indexedlineSet>
        </shape>
      </transform>



      {{#if this.display}}

      <!-- plane -->
        <transform>
          <shape def="" ispickable="0" bboxsize="-1,-1,-1" bboxcenter="0,0,0" render="true">
            <appearance sorttype="auto" alphaclipthreshold="0.1">
              <material specularcolor="0,0,0" shininess="0.2" emissivecolor="0,0,0" ambientintensity="0.2" transparency="0.5" diffusecolor="0 0 1">
              </material>
            </appearance>
            <indexedfaceset ccw="true" colorpervertex="false" colorindex=" 0 0 0 0" coordindex="0 1 2 3 0" solid="true" usegeocache="true" lit="true" normalpervertex="true" normalupdatemode="fast" convex="true" >

                <coordinate point="-2 -2 0, 0 -2 0, 0 0 0, -2 0 0"></coordinate>

              <color color="0 0 1"></color>
            </indexedfaceset>
          </shape>
        </transform>

      {{/if}}

  </scene>
</x3d>
